/Java_Code
/SCALE-normalize-main
/Straw_C++
test.txt
test.txt.gz
/new_code/build
/new_code/build-validation
/new_code/build-validation.old
/new_code/validation-results-fixed
/new_code/validation-results
/new_code/validation/__pycache__
/new_code/full-validation-results
/new_code/scale-validation-results
/new_code/scale-rescue-validation-results
*.zip
.DS_Store
